{% extends 'admin/base.html' %}

{% block title %}Add Book{% endblock %}
{% block branding %}
    <!-- Empty block, removes Django Admin title/logo -->
{% endblock %}

{% block nav-global %}
    <!-- Empty block, removes Django Admin navigation (Home, Documentation, etc.) -->
    <a href="{% url 'custom_admin_dashboard' %}">Dashboard</a>
{% endblock %}

{% block breadcrumbs %}
    <!-- Empty block, removes breadcrumbs -->
   
{% endblock %}
{% block content %}

<style>
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
        text-align: center;
    }
    #header{
        display: block;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
    }


    label {
        display: block;
        margin-bottom: 2px;
        font-weight: bold;
        color: #333;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    textarea,
    select {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        display: inline-block;
        padding: 10px 20px;
        background-color: #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #a3a7a9;
    }

    a.back-link {
        display: inline-block;
        padding: 8px 16px;
        background-color: #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    a.back-link:hover {
        background-color: #a3a7a9;
    }

</style>

<h2>Add Book</h2>

<div class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Book</button>
    </form>

    <a href="{% url 'manage_books' %}" class="back-link">Back to Books</a>
</div>

{% endblock %}
