{% extends 'admin/admin_base.html' %}

{% block title %}Borrowed Books Report{% endblock %}

{% block admin_content %}
<style>
      h1{
        font-weight: 500;
    }
      th {
        background-color: #89aec1; /* Light Green for Members (first column) */
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    table{
        width: 100%;
    }
</style>
<h1>Borrowed Books Report</h1>

<table border="1" cellpadding="5" cellspacing="0">
    
        <tr>
            <th>User</th>
            <th>Book Title</th>
            <th>Issued Date</th>
            <th>Due Date</th>
        </tr>
  
        {% for req in borrowed_books %}
        <tr>
            <td>{{ req.user.Username }}</td>
            <td>{{ req.book.title }}</td>
            <td>{{ req.IssuedDate }}</td>
            <td>{{ req.Duedate }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No borrowed books found.</td>
        </tr>
        {% endfor %}
  
</table>

<!-- Download PDF Button -->
<button style="margin-top: 50px;"><a href="{% url 'download_borrowed_books_report' %}" class="btn btn-primary" style="text-decoration: none; color: black; ">Download PDF</a></button>
{% endblock %}
