{% extends 'admin/base.html' %}

{% block title %}Borrowed Books Report{% endblock %}

{% block branding %}
    <!-- Empty block, removes Django Admin title/logo -->
{% endblock %}

{% block nav-global %}
    <!-- Empty block, removes Django Admin navigation (Home, Documentation, etc.) -->
    <a href="{% url 'custom_admin_dashboard' %}">Dashboard</a>
{% endblock %}

{% block breadcrumbs %}
    <!-- Empty block, removes breadcrumbs -->
   
{% endblock %}

{% block content %}
<style>
     #header{
        display: block;
    }
</style>
<h2>Borrowed Books Report</h2>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>User</th>
            <th>Book Title</th>
            <th>Issued Date</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for req in borrowed_books %}
        <tr>
            <td>{{ req.user.Username }}</td>
            <td>{{ req.book.title }}</td>
            <td>{{ req.IssuedDate }}</td>
            <td>{{ req.Duedate }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No borrowed books found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Download PDF Button -->
<button style="margin-top: 50px;"><a href="{% url 'download_borrowed_books_report' %}" class="btn btn-primary" style="text-decoration: none; color: black; ">Download PDF</a></button>
{% endblock %}
