{% extends 'admin/admin_base.html' %}

{% block title %}Edit Book{% endblock %}

{% block admin_content %}

<style>
      body{
        overflow-y: hidden;
    }
    h2 {
        font-size: 24px;
        margin:0;
        color: #333;
        text-align: center;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    form {
        width: 100%;
        max-width: 600px;
       
    }


    label {
        display: block;
        margin-bottom: 2px;
        font-weight: bold;
        color: #333;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    textarea,
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        display: inline-block;
        padding: 10px 20px;
        background-color: #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #a3a7a9;
    }

    a.back-link {
        display: inline-block;
        padding: 8px 16px;
        background-color: #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        text-align: center;
    }

    a.back-link:hover {
        background-color: #a3a7a9;
    }

</style>

<h2>Edit Book</h2>

<div class="form-container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Book</button>
    </form>

    <a href="{% url 'manage_books' %}" class="back-link">Back to Books</a>
</div>

{% endblock %}
