{% extends 'admin/admin_base.html' %}

{% block title %}Edit Member{% endblock %}

{% block admin_content %}

<style>

    body{
        overflow-y: hidden;
    }

    .form-container {
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .profile-pic {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
        margin-bottom: 15px;
    } 
    input #id_Username,#id_email, #id_firstname,#id_lastname,#id_phone,#id_profile_picture,#id_Username{
        width: 100%;
    }

    form {
        width: 100%;
        max-width: 600px;
    }

    button[type="submit"] {
        display: inline-block;
        padding: 10px 20px;
        background-color: #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
        background-color: #a3a7a9;
    }

    a.back-link {
        display: inline-block;
        padding: 8px 16px;
        background-color: #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    a.back-link:hover {
        background-color: #a3a7a9;
    } 
    div.form-row{
        margin-bottom: 10px;
    }
    #id_profile_picture{
        border: 1px solid var(--border-color);
        border-radius: 4px;
        padding: 5px 6px;
    }

</style> 

{% load static %}
<div class="form-container">
    {% if form.instance.profile_picture %}
        <img src="{{ form.instance.profile_picture.url }}" class="profile-pic">
    {% else %}
        <img src="{% static 'default.jpg' %}" class="profile-pic">
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Update Member</button>
    </form>
    <a href="{% url 'manage_members' %}" class="back-link">Back to Members</a>
</div>

{% endblock %}