{% extends 'admin/admin_base.html' %}

{% block title %}Issued Date{% endblock %}
{% block sidebar_width %}500px{% endblock %}

{% block admin_content %}

<style>
   
   h1{
        font-weight: 500;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #89aec1; /* Light Green for Members (first column) */
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    .btn {
        display: inline-block;
        padding: 8px 16px;
        margin-top: 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .actions a {
        margin-right: 8px;
    }
</style>

<h1>Issued Book</h1>

<table>
    
        <tr>
            <th>User</th>
            <th>Book Name</th>
            <th>Status</th>
        </tr>
   

        {% for request in borrow_requests %}
        <tr>
            <td>{{ request.user.Username }}</td>
            <td>{{ request.book }}</td>
            <td>{{ request.status }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No borrow requests found.</td>
        </tr>
        {% endfor %}
 
</table>

{% endblock %}
