{% extends 'admin/admin_base.html' %}



{% block admin_content %}

<h1>Member Activities Report</h1>
<style>
      h1{
        font-weight: 500;
    }
      th {
        background-color: #89aec1; /* Light Green for Members (first column) */
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    table{
        width: 100%;
    }
    .button{
        display: inline-block;
        padding: 8px 16px;
        background-color:  #c0c4c6;
        color: black;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }
</style>
<!-- User Details Table -->

<h1>User Details</h1>
<table border="1" class="table" style="margin-bottom: 50px;">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Registration Date</th>
        <!-- <th>Login Time</th>
        <th>Logout Time</th> -->
    </tr>
    
    {% for user in users %}
    <tr>
        <td>{{ user.Username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.created_at }}</td>
        <!-- <td>{{ user.login_time }}</td>
        <td>{{ user.logout_time }}</td> -->
    </tr>
    {% endfor %}
</table>


<!-- Borrow Requests & Notifications Table -->
<h1>Borrow Requests & Notifications</h1>
<table border="1" style="margin-bottom: 50px;">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Borrow Requests</th>
        <th>Notifications</th>
        <!-- <th>Last Login</th>
        <th>Last Logout</th> -->
    </tr>
    {% for user_data in user_data %}
    <tr>
        <td>{{ user_data.user.Username }}</td>
        <td>{{ user_data.user.email }}</td>
        <td>{{ user_data.borrow_count }}</td>
        <td>{{ user_data.notification_count }}</td>
        <!-- <td>{{ user_data.last_login|default:"N/A" }}</td>
        <td>{{ user_data.last_logout|default:"N/A" }}</td> -->
    </tr>
    {% endfor %}
</table>

<!-- Borrow History Table -->
<h1>Borrow History</h1>

<h3>Total Returned Books: {{ return_count }}</h3>
<h3>Total Canceled Books: {{ cancel_count }}</h3>
<h3>Total Pending Requests: {{ pending_count }}</h3>
<h3>Total Rejected Requests: {{ rejected_count }}</h3>
<h3>Total Accepted Requests: {{ accepted_count }}</h3>
<h3>Total Renewal Requests: {{ renewal_request_count }}</h3>
<h3>Total Renewal Requests Rejected: {{ renewal_rejected_count }}</h3>
<h3>Total Renewal Requests Accepted: {{ renewal_accepted_count }}</h3>
<table border="1" >
    <tr>
        <th>Borrowed By</th>
        <th>Title</th>
        <th>Status</th>
        <th>Issued Date</th>
        <th>Due Date</th>
       
    </tr>
    {% for borrow in borrow_requests %}
    <tr>
        <td>{{ borrow.user.Username }}</td>
        <td>{{ borrow.book.title }}</td>
        <td>{{ borrow.get_status_display }}</td>
        <td>{{ borrow.IssuedDate }}</td>
        <td>{{ borrow.Duedate }}</td>

    {% endfor %}
         
    
</tr>
</table>

<h1 style="margin-top: 50px;">Member Activity</h1>
<table>
<tr>
    <th>User</th>
    <th>Title</th>
    <th>Status</th>
    <th>Book Request Date</th>
    <th>Accept/Reject Date</th>
    <th>Renewal Requested Accept/Reject Date</th>
    <th>Return Date</th>
    <th>Cancel Date</th>
    <th>Issued Date</th>
    <th>Due Date</th>
    <th>Last Login</th>
    <th>Last Logout</th>
</tr>
{% for activity in member_activities %}
<tr>
    <td>{{ activity.user.Username }}</td>
    <td>{{ activity.book.title }}</td>
    <td>{{ activity.get_status_display }}</td>
    <td>{{ activity.request_date|default:"N/A" }}</td>
    <td>{{ activity.accept_reject_date|default:"N/A" }}</td>
    <!-- <td>{{ activity.renewal_request_date|default:"N/A" }}</td> -->
    <td>{{ activity.renewal_accept_reject_date|default:"N/A" }}</td>
    <td>{{ activity.return_date|default:"N/A" }}</td>
    <td>{{ activity.cancel_date|default:"N/A" }}</td>
    <td>{{ activity.issued_date|default:"N/A" }}</td>
    <td>{{ activity.due_date|default:"N/A" }}</td>
    <td>{{ activity.login_time|default:"N/A" }}</td>
    <td>{{ activity.logout_time|default:"N/A" }}</td>
 
</tr>
{% endfor %}
</table>
<!-- Download PDF Button -->
<button class="button"style="margin-top: 50px;"><a href="{% url 'download_member_activities_report' %}" class="btn btn-primary" style="text-decoration: none; color: black; ">Download PDF</a></button>
{% endblock %}
