{% extends 'admin/base.html' %}

{% block title %}Non Returned Book{% endblock %}

{% block branding %}
    <!-- Empty block, removes Django Admin title/logo -->
{% endblock %}

{% block nav-global %}
    <!-- Empty block, removes Django Admin navigation (Home, Documentation, etc.) -->
    <a href="{% url 'custom_admin_dashboard' %}">Dashboard</a>
{% endblock %}

{% block breadcrumbs %}
    <!-- Empty block, removes breadcrumbs -->
   
{% endblock %}

{% block content %}

<style>
     #header{
        display: block;
    }
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

    .borrow-history-container {
        margin: 20px 0;
    }

    .borrow-history-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .borrow-history-table th,
    .borrow-history-table td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        color: #333;
    }

    .borrow-history-table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .borrow-history-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .borrow-history-table tr:hover {
        background-color: #f1f1f1;
    }

    .status {
        color: #d9534f; /* Red text for overdue */
        font-weight: bold;
    }

</style>

<div class="borrow-history-container">
    <h1>Non Returned Books</h1>
    
    <table class="borrow-history-table">
        <thead>
            <tr>
                <th>User</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in borrow_requests %}
                {% if request.status == 'accepted' or request.status == 'renew_accpect' or request.status == 'renewal_requested' %}
                    {% if request.Duedate < today %}
                        <tr id="request-{{ request.id }}">
                            <td>{{request.user.Username}}</td>
                            <td>{{ request.book.title }}</td>
                            <td>{{ request.book.author }}</td>
                            <td>{{ request.IssuedDate }}</td>
                            <td class="status">{{ request.Duedate }}</td>
                            <td>{{ request.status|title }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="5">No overdue books found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
