{% extends 'admin/admin_base.html' %}

{% block title %}Not Returned Book{% endblock %}

{% block admin_content %}

<style>
    h1{
        font-weight: 500;
    }

    .borrow-history-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    .borrow-history-table th,
    .borrow-history-table td {
        /* padding: 6px; */
        border-bottom: 1px solid #ddd;
        text-align: left;
        color: #333;
    }


    .borrow-history-table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .borrow-history-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .borrow-history-table tr:hover {
        background-color: #f1f1f1;
    }

    .status {
        color: #d9534f; 
        font-weight: bold;
    }

    .borrow-history-table th {
        background-color: #89aec1; 
        padding: 5px 6px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .hidden-row {
        display: none;
    }

    #showLessBtn,#showMoreBtn{  
        background-color: #f1f1f1;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease;
        margin: 0 5px; 
    }

    #showLessBtn{
        background-color:#E27474;
    }

    html,body{
        overflow-y: hidden;
    }
    
</style>

<div class="borrow-history-container">
    <h1>Not Returned Books</h1>
    
    <table class="borrow-history-table">
        <thead>
            <tr>
                <th>User</th>
                <th>Book</th>
                <th>Author</th>
                <th>Borrow Date</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in borrow_requests %}
                {% if request.status == 'accepted' or request.status == 'renew_accpect' or request.status == 'renewal_requested' %}
                    {% if request.Duedate < today %}
                        <tr id="request-{{ request.id }}">
                            <td>{{request.user.Username}}</td>
                            <td>{{ request.book.title }}</td>
                            <td>{{ request.book.author }}</td>
                            <td>{{ request.IssuedDate }}</td>
                            <td class="status">{{ request.Duedate }}</td>
                            <td>{{ request.get_status_display }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% empty %}
                <tr>
                    <td colspan="5">No overdue books found.</td>
                </tr>
            {% endfor %}
       </tbody>
    </table>

</div>
    {% if borrow_requests|length > 5 %}
    <button id="showMoreBtn">Load More</button>
    <button id="showLessBtn" style="display: none;">Load Less</button>
    {% endif %}
{% endblock %}
