{% extends 'admin/admin_base.html' %}

{% block title %}Notifications{% endblock %}



{% block admin_content %}
<style>
      th {
        background-color: #89aec1; /* Light Green for Members (first column) */
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    table{
        width: 100%;
    }
    h1{
        font-weight: 500;
    }
</style>
    <h1>Recent Notifications</h1>

    <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; border-collapse: collapse;">
        
            <tr>
                <th>User</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
       
            {% for note in notifications %}
                <tr>
                    <td>{{  note.user.Username }}</td>
                    <td>{{ note.message }}</td>
                    <td>{{ note.timestamp }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" style="text-align: center;">No notifications found.</td>
                </tr>
            {% endfor %}
   
    </table>
{% endblock %}
