{% extends 'admin/admin_base.html' %}

{% block title %}Members{% endblock %}


{% block admin_content %}

<style>
    html,body{
        overflow-y: hidden;
    }
    .main-div{
        height: 80vh;
    }
    table{
        width: 100%;
    }
    h1{
        font-weight: 500;
    }
    th {
        background-color: #89aec1; /* Light Green for Members (first column) */
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .hidden-row {
        display: none;
    }
    #showLessBtn,#showMoreBtn{
        
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease;
        margin: 0 5px; 
    
    }
    #showLessBtn{
        background-color:#E27474;
    }
    

</style>


<div class="page-container" >
<h1>Members</h1>
<table class="borrow-history-table" style="margin-bottom: 15px;">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Registration Date</th>
      
    </tr>
    </thead>

    <tbody>
    {% for user in users %}
    <tr class="borrow-row">
        <td>{{ user.Username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.created_at}}</td>
       
    </tr>
    {% empty %}
    <tr>
        <td colspan="6">No users found.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>
{% if users|length > 5 %}
<button id="showMoreBtn">Show More</button>
<button id="showLessBtn" style="display: none;">Show Less</button>
{% endif %}

{% endblock %}