{% extends 'admin/base.html' %}

{% load static %}

{% block title %}User Dashboard{% endblock %}

{% block branding %}
<!-- Remove default Django admin branding -->
{% endblock %}

{% block breadcrumbs %}
<!-- Remove breadcrumbs if not needed -->
{% endblock %}

{% block nav-global %}
<style>
    html,body{
        overflow: hidden;
    }
    #header {
        padding: 2px 10px;
        font-weight: 100;
    }
    #content{
        padding: 20px;
        height: 500px;
    }

    nav.navbar {
        font-size: x-large;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    .profile-photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid black;
        margin-top: 5px;
    }

    img {
        width: 40px;
        height: 40px;
    }

    .sub-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin-right: 10px;
    }

    a img {
        margin-top: 8px;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        vertical-align: middle;
    }

    .submenu {
        display: none;
        position: absolute;
        right: 5px;
        background-color: white;
        border: 1px solid #ccc;
        min-width: 100px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        border-radius: 5px;
    }

    .submenu a {
        color: #417690 !important;
        text-decoration: none;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .submenu.active {
        display: block;
        pointer-events: auto;
    }

    .fa-bell {
        color: white;
    }

    .notification-count {
        position: absolute;
        top: 8px;
        right: 62px;
        background-color: #c2c4c6;
        color: black;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 18px;
        height: 15px;
        width: 10px;
    }
</style>

<!-- ======= HEADER START ======= -->
<div class="page-container">

    <nav class="navbar">

        <div class="logo">
            <img src="/static/logo.png" alt="Logo">
        </div>

        <div class="toggle-btn">
            <div class="icon"></div>
        </div>

        <div class="sub-div">
            <ul class="menu" style="margin-bottom: 4.8px;">

                {% block search-content %}
                    <li class="search-container">
                        <form action="{% url 'search_books' %}" method="get" style="display: flex;      align-items: center;">
                            <i class="fas fa-search search-icon" id="search-icon" style="color: white;"></i>
                            <input type="text" name="q" placeholder="Search..." class="search-input" id="search-input">
                            <button type="submit" style="border: none; background: none;">
                            </button>
                        </form>
                    </li>
                {% endblock %}
                

                <li class="bell">
                    <a href="{% url 'notification' %}" style="font-size: large;""><i class=" fa fa-bell"></i></a>
                    {% if notification_count > 0 %}
                        <span class="notification-count" >{{ notification_count }}</span>
                    {% endif %}
                </li>
                <li class="submenu-wrapper">

                    {% if profile_user and profile_user.profile_picture %}
                        <img src="{{ profile_user.profile_picture.url }}" alt="Profile Picture" id="profile-photo"
                            class="profile-photo">
                    {% else %}
                        <img src="{% static 'default.jpg' %}" alt="Default Picture" id="profile-photo"
                            class="profile-photo">
                    {% endif %}
                    {% block submenu %}
                        <ul class="submenu">
                            <li>
                                <a href="{% url 'view_profile' %}" style="  text-decoration: none;"><i class="fa fa-user"style="margin-right: 5px;"></i> Profile</a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}" style="  text-decoration: none; cursor: pointer;"><i class="fas fa-sign-out-alt" style="margin-right: 5px; "></i>Logout</a>
                            </li>

                        </ul>
                    {% endblock %}    
                </li>
            </ul> 

        </div>
    </nav>

    <!-- ======= HEADER END ======= -->
    {% block extra_scripts %}
    <script>

        const icon = document.querySelector('.icon');
        const menu = document.querySelector('.menu');
        const toggleBtn = document.querySelector('.toggle-btn');
        const profilePhoto = document.querySelector('.profile-photo');
        const submenu = document.querySelector('.submenu');

        function toggleNavbar() {
            menu.classList.toggle('active');
            icon.classList.toggle('active');
        }

        toggleBtn.addEventListener('click', toggleNavbar);

        profilePhoto.addEventListener('click', function () {
            submenu.classList.toggle('active');
        });

        const searchIcon = document.getElementById('search-icon');
        const searchInput = document.getElementById('search-input');

        searchIcon.addEventListener('click', () => {
            searchInput.classList.toggle('expanded');
            if (searchInput.classList.contains('expanded')) {
                searchInput.focus();
            }
        });

        // Optional: Collapse when clicking outside
        document.addEventListener('click', (e) => {
            if (!e.target.closest('.search-container')) {
                searchInput.classList.remove('expanded');
            }
        });


    </script>
    {% endblock %}
    {% endblock %}



    {% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        
        #header {
            display: block;
            font-weight: bold;
            font-size: large;
        }

        ul li {
            list-style: none;
        }

        /* Sidebar styles */
        .sidebar-menu {
            list-style: none;
            padding: 0;
            position: absolute;
        }

        .sidebar-menu li {
            padding: 10px 0;
        }

        .sidebar-menu a {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
        }

        .sidebar-menu a i {
            width: 20px;
            text-align: center;
            margin-right: 10px;
        }

        .sidebar-menu a span {
            flex-grow: 1;
        }

        .submenu {
            display: none;
            list-style: none;
            padding-left: 20px;
        }

        .sidebar-menu li:hover .submenu {
            display: block;
        }

        .footer-container {
            background: #417690;
            color: white;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            height: auto;
            position: sticky;
            top: 0;
        }
       
        
    </style>
    <!-- ======= PAGE CONTENT START ======= -->

    <div class="sidebar" style="display: flex; min-height: 100vh;">
        <ul class="sidebar-menu" style="width: 220px; background-color: #f0f0f0; padding: 20px; min-height: 75%">

            <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{% url 'book' %}"><i class="fa fa-book"></i> Books</a></li>
            <li><a href="{% url 'borrow_history' %}"><i class="fa fa-clock"></i> History</a></li>
            <li><a href="{% url 'about' %}"><i class="fas fa-info-circle" style=" margin-right: 10px;"></i>About Us</a>
            </li>
            <li><a href="{% url 'contactus' %}"><i class="fas fa-envelope" style=" margin-right: 10px;"></i>Contact
                    Us</a></li>
            <li><a href="{% url 'privacy' %}"><i class="fas fa-shield-alt" style=" margin-right: 10px;"></i>Privacy
                    Policy</a></li>
            <li><a href="{% url 'terms' %}"><i class="fas fa-file-alt" style=" margin-right: 10px;"></i>Terms of
                    Service</a></li>
        </ul>

        <div class="content" style="flex-grow: 1; margin-left: 270px;">
            {% block user_content %}{% endblock %}
        </div>
    </div>

    {% endblock %}
    <!-- ======= PAGE CONTENT END ======= -->

    <!-- ======= FOOTER START ======= -->
    {% block footer %}
    <footer>
        <div class="footer-container">
            <p style="color: white;">&copy; 2025 Library Management System | version 1.0.0</p>

        </div>
    </footer>

    {% endblock %}
    <!-- ======= FOOTER END ======= -->

    <!-- ======= SCRIPTS ======= -->

    {% block scripts %}
    <!-- Additional scripts can be added from child templates -->
    {% endblock %}
    </body>

    </html>