{% extends 'base.html' %}

{% block title %} Returned Book {% endblock %}


{% block search-content %}
{% endblock %}

{% block user_content %}

{% if borrow_requests %}
    <ul>
    {% for request in borrow_requests %}
        <li style="list-style: none; margin-bottom: 10px;">
            <p style="font-size: 14px;"><strong style="font-size: 14px;">Book:</strong> {{ request.book.title }}</p>
            <p style="font-size: 14px;"><strong style="font-size: 14px;">Cancel Date:</strong>{{ request.cancel_date|default:"N/A" }}</p> 
            <p style="font-size: 14px;"><strong style="font-size: 14px;">Status:</strong>{{ request.status }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No canceled books yet.</p>
{% endif %}

{% endblock %}