<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="/static/email.css">
</head>
<body>
    <div class="container">
    <form method="post" class="email-form">
        {% csrf_token %}
        <label for="email">Registered Email:</label>
        <input type="email" name="email" id="email" placeholder="Enter your registered email">
        <button type="submit">Next</button>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}
</div>
</body>
</html>