{% extends "base.html" %}
{% load static %}

{% block title %}Library Sidebar{% endblock %}
    
    
{% block user_content %}
    
<style>
    .card {
        height: 90px;
        padding: 20px;
    
        border-radius: 8px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }
    
    .card p{
        border-radius: 50%; 
        width: 30px;
        height: 30px;
         display: flex; 
         align-items: center; 
         justify-content: center; 
         color: black;
         margin: 0;
         margin-top: 5px;
         font-weight: 500;
    }
    
    .card:hover{
        transform: scale(1.07);
    }
   
 
    .books-card { background-color: #e0f7fa; border: 1px solid #81d4fa } /* Light Blue */
   
    .returned { background-color:  #c8e6c9; border: 1px solid #78c18a } /* Green */
    
    .pending-card { background-color:  #fff3e0; border: 1px solid #eed3a9} /* Yellow */
    .renewals-card { background-color: #fff3e0; border: 1px solid #eed3a9 } /* Peach */
    .overdue { background-color: #ffcdd2;border: 1px solid #ef9a9a } /* Light Red */
    .notifications { background-color: #fce4ec; border: 1px solid #f48fb1} /* Pink */
    
   
    .books-card p{ background-color: #81d4fa; } /* Light Blue */
   
    .returned p{ background-color:  #78c18a; } /* Green */
   
    .pending-card p{ background-color:  #eed3a9; } /* Yellow */
    .renewals-card p{ background-color: #eed3a9; } /* Peach */
    .overdue p{ background-color: #ef9a9a; } /* Light Red */
    .notifications p{ background-color: #f48fb1; } /* Pink */
    
    
    .card h1{
        font-size: 18px;
        font-weight:600;
        color: black;
        margin: 0;
    }
    .div-card a{
        text-decoration: none;
    }
    
  
      
    
</style>
        


    {% block search-content %}
    {% endblock %}
   
   
        <div style="padding-left: 20px;">
            <!-- <h1>Welcome to Admin Dashboard</h1> -->
            <h1 style="font-weight: bolder;color:black">Welcome {{ user.firstname }}</h1>

            <div style="display: flex; flex-wrap: wrap; gap: 20px;" class="div-card">
                <a href="{% url 'user_book' %}" >
                    <div class="card books-card">
                        <h1 >My Books</h1>
                        <div style="margin-bottom: 0px;">
                        <p>{{ borrowed_count }}</p>
                        </div>
                    </div>
                </a>
                
                <a href="{% url 'pending_request' %}">
                    <div class="card pending-card">
                        <h1>Pending Requests</h1>
                        <p>{{ pending_count }}</p>
                    </div>
                </a>
                
                <a href="{% url 'pending_renewal' %}">
                    <div class="card renewals-card">
                        <h1>Pending Renewals</h1>
                        <p>{{ renewal_count }}</p>
                    </div>
                </a>
                
                <a href="{% url 'returned_books' %}">
                    <div class="card returned">
                        <h1>Returned Books</h1>
                        <p>{{ returned_count }}</p>
                    </div>
                </a>
                
                <a href="{% url 'user_duebook' %}">
                    <div class="card overdue">
                        <h1>Overdue Books</h1>
                        <p>{{ overdue_count }}</p>
                    </div>
                </a>
                
                <a href="{% url 'notification' %}">
                    <div class="card notifications">
                        <h1>Notifications</h1>
                        <p>{{notification_count}}</p>
                    </div>
                </a>
                
        
        
        </div>
    {% endblock %}


  