{% extends "base_simple.html" %}
{% load static %}
{% block title %} Login Page {% endblock %}

{% block extra_head %}
    <!-- <script src="{% static 'js/auth.js' %}" defer></script> -->
    <link rel="stylesheet" href="{% static 'login.css' %}"> 
{% endblock %}

{% block content %}
    <div class="container">
        <form class="login-form" method="post">
            {% csrf_token %}

            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Enter your email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
            <label class="show-password">
                <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
                Show Password
            </label>
            <button type="submit">Login</button>

            <!-- Forgot Password & Register -->
            <p class="forgot-password"><a href="{% url 'email' %}">Forgot Password?</a></p>
            <p class="register-text">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </form>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("confirm-password");

        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
{% endblock %}
