{% extends "base_simple.html" %}
{% load static %}
{% block title %} reset_password Page {% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'reset_password.css' %}"> 
{% endblock %}

{% block content %}
    {% block search-content %}
    {% endblock %}
    <div class="container">
        <form class="reset-password-form" method="post">
            {% csrf_token %}
            <h2>Reset Password</h2>
            
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        

            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter new password" required>

            <label for="check-password">Confirm Password:</label>
            <input type="password" name="check-password" id="check-password" placeholder="Confirm new password" required>
            <label class="show-password">
                <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()">
                Show Password
            </label>
            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}

{% block extra_scripts %}
<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("check-password");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            confirmPasswordField.type = "text";
        } else {
            passwordField.type = "password";
            confirmPasswordField.type = "password";
        }
    }
</script>
{% endblock %}
