{% extends 'base.html' %}

{% block title %} Returned Book {% endblock %}



{% block content %}


{% if borrow_requests %}
    <ul>
    {% for request in borrow_requests %}
        <li style="list-style: none; margin-bottom: 10px;">
            <strong>Book:</strong> {{ request.book.title }}<br>
            <strong>Returned Date:</strong> {{ request.ReturnedDate|default:"N/A" }}<br>
            <strong>Status:</strong> {{ request.status }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No returned books yet.</p>
{% endif %}

{% endblock %}