<form method="post">
    {% csrf_token %}
    <label for="email">Email:</label><br>
    <input type="text" name="email" ><br><br>
    <label for="password">Password:</label><br>
    <input type="password" name="password" ><br><br>
    <a href="{% url 'enter_email' %}">Forget Password</a><br><br>
    <button style="width: 100px;">Login</button>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</form>
