<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="firstname" placeholder="firstname" required>
        <input type="text" name="lastname" placeholder="lastname" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="college_name" placeholder="college_name" required>
       
        <button type="submit">Update</button>
    </form>
</body>
</html>