/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    max-width: 800px;
    width: 300px;
    text-align: center;
}

/* Form Styling */
.email-form {
    display: flex;
    flex-direction: column;
}

.email-form h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Input Fields */
.email-form label {
    text-align: left;
    font-weight: 500;
    margin: 5px 0;
    color: #444;
}

.email-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

/* Input Focus Effect */
.email-form input:focus {
    border-color: #2575fc;
    outline: none;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

/* Submit Button */
.email-form button {
    background: #9C6B4A;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.email-form button:hover {
    background: #875A3E;
}


/* Responsive Design */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}
