/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Form Styling */
.otp-form {
    display: flex;
    flex-direction: column;
}

.otp-form h2 {
    margin-bottom: 15px;
    color: #333;
}

/* Input Fields */
.otp-form label {
    text-align: left;
    font-weight: 500;
    margin: 5px 0;
    color: #444;
}

.otp-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s ease-in-out;
}

/* Input Focus Effect */
.otp-form input:focus {
    border-color: #2575fc;
    outline: none;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

/* Submit Button */
.otp-form button {
    background: #9C6B4A;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.otp-form button:hover {
    background: #875A3E;
}


/* Responsive Design */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}
